* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*encabezamiento */
header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #d8d012;
  justify-content: space-between;
  padding: 2rem;
  z-index: 1;
}
.logo {
  float: left;
  max-width: 6rem;
}
.nav{
  float: right;
}
.nav-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-list a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 6px;
}
.abrir-menu,
.cerrar-menu{
  display: none;
}

/* fondo y tipografia*/
  /*titulo*/
  .titulo-index {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin: 1rem;
  }
  /*cajas*/
  .cajas-nosotros {
    display: flex;
    min-height:60vh;
  }
  .box {
    width: 50%;
    height: 190px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
  }

  /*CAJA DE PRODUCTO*/
.album {
  background-color: #f1f1f1;
  padding-top: 50px;
}

.container-1 {
  max-width: 600px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-productos {
  flex: 1 1 100px;
  padding: 10px;
}

.card {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  padding: 10px;
}

.card-img {
  width: 100%;
  height: 100%;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-weight: bold;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  margin: 10px;
}

.btn-primary {
  background-color: #d8d012;
  color: #fff;
}

.btn-outline-secondary {
  border: 1px solid #000;
  color: #000;
}



/*css contacto*/
  .contacto {
    padding: 20px;
    background-color: #f1f1f1;
    min-height:73vh;
  }
  .contacto p {
    margin-bottom: 5px;
    
  }


/*footer*/
.footer {
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.wrapper{
  flex: 1;
}

.whatsapp-logo {
  position: fixed;
  bottom: 50%; /* Ajusta la posición vertical */
  right: 30px; /* Ajusta la posición horizontal */
  z-index: 1000; /* Asegura que el logotipo esté por encima de otros elementos */
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  /**/
  .abrir-menu,
  .cerrar-menu {
    display: block;
    background-color: #00cfff;
    border-color: #00cfff;
    border-radius: 0;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
 
  .nav{
    width: 30%;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ff2f84;
    padding: 2rem;
    box-shadow: 0 0 100vmax rgba(0, 0, 0, 0.2);
  }

  /*mostrando menu*/
  .nav-list {
    flex-direction: column;
    align-items: end;
  }


}