* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fondo y tipografia*/
body {
    background: #714311;
    font-family: 'roboto', sans-serif;
}

/*encabezamiento */
header {
    width: 100%;
    height: 90px;
    background-color: rgba(255, 255, 0, 0.87);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px;

    /*borde de referencia*/
    border-style: null;
    /*border-color: rgb(235, 62, 142);*/
}

/* Logo */
.logo {
    display: flex;
    margin: 6px;
}

.logo img {
    height: 69px;
}


/* menu */
a {
    text-decoration: none;
    color: yellow;
}

/*css texto*/
nav a {
    height: 75px;
    width: 390px;
    font-weight: 600;
    padding: 6px;
}

nav a:hover {
    color: aqua;
}

@media screen and (max-width:1920px) {
    
}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 480px) {}